@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0);

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,200,0,0);

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);

:root * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &::before,
    &::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

body {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a {
    -webkit-transition: background .24s;
    transition: background .24s;
}

p {
    margin: 0px;
}

:root {
    --bs-body-color: #dbdbdb;
    --bs-body-bg: #181818;
    --bs-link-hover-color: #ffc800;
}

.pc {
    display: initial;
}

@media screen and (max-width: 991px) {
    .pc {
        display: none;
    }
}

.sp {
    display: none;
}

@media screen and (max-width: 599px) {
    .sp {
        display: initial;
    }
}

.header-banner {
    position: relative;
    height: 240px;
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    background: #181818 center/cover no-repeat;

    &::before {
        position: absolute;
        top: 0;
        content: "";
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
    }

    .subtitle-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }

    .banner-img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

@media screen and (max-width: 991px) {
    .header-banner {
        height: 160px;
    }
}

@media screen and (max-width: 599px) {
    .header-banner {
        height: 120px;
    }
}

.container .flex-d .social-link {
    display: inline-block;
    border-radius: 50%;
    height: 160px;
    width: max(160px, 25%);
    background: #333;

    &:hover {
        background: #4d4d4d;
    }

    .img {
        display: inline-block;
        padding: 30%;
        height: 100%;
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

@media screen and (max-width: 991px) {
    .container .flex-d .social-link {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 599px) {
    .container .flex-d .social-link {
        width: 60px;
        height: 60px;
    }
}

.text-wrap {
    padding: 0 calc(var(--bs-gutter-x)*.5);
}

.breadcrumb {
    max-width: 991px;
    margin: 0 auto;
    padding-top: 15px;

    a {
        text-decoration: none;
        color: #bdbdbd;
    }
}

.breadcrumb-item {
    margin: 0;
    color: #dbdbdb;

    &.active,
    &::before {
        color: #dbdbdb;
    }
}

.view-more,
.page-link,
.button-link {
    text-align: center;
}

.view-more a,
.view-more button,
.page-link a,
.button-link a {
    position: relative;
    display: inline-block;
    padding: 18px 28px;
    background: #ffc801;
    color: #101010;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 320px;
    max-width: 100%;
    text-align: center !important;
}

.view-more a::after,
.page-link a::after,
.button-link a::after {
    position: absolute;
    top: 50%;
    right: 10px;
    content: "";
    font-family: "Material Symbols Rounded";
    font-style: normal;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 991px) {

    .view-more a::after,
    .page-link a::after,
    .button-link a::after {
        right: 4;
    }
}

.view-more a:hover,
.page-link a:hover,
.button-link a:hover {
    background: #ffe584;
}

@media screen and (max-width: 991px) {

    . a,
    .page-link a,
    .button-link a {
        font-size: 16px;
        padding: 16px;
    }
}

.view-more a {
    width: 216px;
    font-style: italic;
}

.brands-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 80px 0 50px !important;
    list-style: none;

    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: calc((100% - 3px) / 4);
        height: 64px;
        padding: 2px;
        border-right: solid 1px #fff;
        line-height: 0;

        &:last-child {
            border: none;
        }
    }

    a {
        display: inline-block;
        margin: auto;
        padding: 12px 10px;
    }

    img {
        height: 40px;
        width: auto;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
    }
}

@media screen and (max-width: 991px) {
    .brands-link li {
        width: calc((100% - 1px) / 2);

        &:not(:nth-of-type(2n - 1)) {
            border: none;
        }
    }
}

@media screen and (max-width: 991px) {
    .brands-link img {
        height: 30px;
    }
}

h2.section-title {
    color: #ffc800;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    padding-left: 44px;
    background: url("/assets/images/brand_sub_icon.svg") top left no-repeat;
}

span.feature-text {
    position: relative;
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 0!important;
    padding: 0 12px;
    border: solid 2px #ffc800;
    color: #ffc800;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #ffc800;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &::before {
        bottom: -5px;
        left: -5px;
    }

    &::after {
        top: -5px;
        right: -5px;
    }
}

.head {
    background-image: url(/assets/images/210622F_IH_0794.png);
    background-repeat: no-repeat;
    background-color: #0f0f0f;
    background-position: bottom;
    background-size: cover;

    .top {
        color: #fff;
        border-top: 2px solid rgba(255, 255, 255, 0.5);
    }

    .heading {
        line-height: 1.2;
        color: #fff;

        h1 {
            font-size: 100px;
            font-weight: 500;
            margin-top: 6%;
            margin-bottom: 3%;
            letter-spacing: 1px;

            .color-size {
                color: #ffc107;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .head {
        background-position: left -20vw top;
    }
}

@media screen and (max-width: 991px) {
    .head .heading h1 {
        padding-left: 0;
        font-size: 60px;
    }
}

@media screen and (max-width: 599px) {
    .head .heading h1 {
        font-size: 36px;
    }
}

.header-lead {
    font-size: 36px;
    margin-bottom: .5em;
}

@media screen and (max-width: 599px) {
    .header-lead {
        font-size: 24px;
    }
}

.header-sub {
    font-size: 20px;
    color: #bdbdbd;
}

@media screen and (max-width: 599px) {
    .header-sub {
        font-size: 16px;
    }
}

.tab_pane {
    .top {
        border-top: 2px solid rgba(255, 255, 255, 0.5);
    }

    .bg-color {
        background-color: #101010;
        color: #fff;
    }

    .item-carousel {
        width: 100vw;

        .col-lg-4:nth-of-type(odd) .carousel-img {
            opacity: .5;
        }

        .height {
            height: 150px;
            width: 70%;
            position: absolute;
            top: 50%;
            right: 16%;

            .carousel-img {
                height: 100%;
                width: 100%;
                -o-object-fit: contain;
                object-fit: contain;
            }
        }
    }
}

#footer {
    background: #181818;

    .brands-link {
        max-width: 1160px;
        padding: 80px 0 50px !important;
    }

    .teck-link {
        padding-top: 0 !important;

        li {
            height: 120px;
        }

        a {
            padding: 0;
            width: 120px;
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }
}

#bottom {
    overflow: hidden;
    padding: 0 24px;
    max-width: 1160px;
}

.bottom-line {
    padding-bottom: 32px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    .social-link {
        height: 32px;
        width: 32px;
        margin-left: 20px;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .social-img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.footer {
    background-color: #181818;
    color: #fff;

    .news {
        max-width: 960px;
        margin: 0 auto 5%;
        list-style: none;
        padding: 0;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 10px 0;

            &:first-child {
                border-top: 1px solid #ffc801;
            }

            &:last-child {
                border-bottom: 1px solid #fff;
            }

            div {
                display: inline-block;
            }

            .date {
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .footer .news li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        text-align: left;
    }
}

@media screen and (max-width: 599px) {
    .footer .news li .date {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .footer .news {
        width: 90%;
    }
}

#top {
    #carouselExampleIndicators .carousel-inner {
        background: #ccc;
    }

    #brand {
        &.left-line::after {
            top: 48px;
        }

        .link-title {
            top: 28px;
        }

        .bg-img {
            padding: 36px 0;
        }
    }

    .bg-img.left-line {
        padding: 28px max(2%, 48px) !important;
    }

    .link-title {
        top: 30px;
        left: 2px;
        position: absolute;
        margin: 0;
        padding-left: 4px;
        font-size: 16px;
        color: #fff;
        border-left: 1px solid #ffc801;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    .left-line {
        max-width: 1160px;
        margin: 0 auto;
        position: relative;
        padding: 48px 36px;

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 24px;
            content: "";
            display: block;
            width: 1px;
            background: #ffc800;
        }
    }

    #catalogue {
        background: #000;
    }

    .footer-link {
        padding: 48px 36px;
        margin-bottom: 40px;
        padding: 48px 0;

        >.d-flex {
            width: calc(100% - 48px);
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 991px) {
    #top .bg-img.left-line {
        padding: 18px max(2%, 36px) !important;
    }
}

#demos {
    background-color: #101010;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
}

@media screen and (max-width: 599px) {
    #demos {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 991px) {
    .card .page-link a {
        width: min(300px, 100%);
    }
}

#brand {
    overflow: hidden;

    h2 {
        color: #ffc800;
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 40px;
        margin-left: -40px;
        padding-left: 44px;
        background: url("/assets/images/brand_sub_icon.svg") top left no-repeat;
    }

    p,
    .brands {
        color: #bdbdbd;
    }

    .brands-nav {
        padding: 50px 0 200px;
    }

    .carousel {
        padding: 0;
        background: #181818;
    }

    .serial-detail {
        color: #fff;
    }

    &.page-device .siries-image {
        padding-top: 30px;
    }

    .brands-link {
        padding: 0 !important;
    }

    #footer .brands-link {
        padding: 80px 0 50px !important;
    }
}

@media screen and (max-width: 991px) {
    #brand h2 {
        margin-left: 0;
    }
}

@media screen and (max-width: 991px) {
    #brand .brands-nav {
        padding-bottom: 50px;
    }
}

#footer {
    background: #181818;
}

.brands {
    color: #fff;
}

#carouselExampleIndicators {
    &[class^=logo]::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 260px;
        height: 110px;
        max-height: 20%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0) (center / contain) no-repeat;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    &.logo-stx::before {
        background-image: url("/assets/images/logo_stx.png");
    }

    &.logo-slash::before {
        background-image: url("/assets/images/logo_slash.png");
    }

    &.logo-s-air::before {
        background-image: url("/assets/images/logo_s_air.png");
    }

    &.logo-s-heat::before {
        background-image: url("/assets/images/logo_s_heat.png");
    }

    .carousel-inner {
        background: #181818;
    }
}

.siries-image {
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

#technology {
    .head h1 {
        font-size: 80px;
        font-weight: lighter;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    .heading {
        max-width: 960px;
        margin: 0 auto;
    }

    .header-sub {
        color: #fff;
    }

    .tech-head {
        background-image: url(/assets/images/210622F_IH_0794.png);
        background-repeat: no-repeat;
        background-color: #181818;
        background-position: revert;
        background-size: 100% auto;
        color: #fff;
    }

    .tech-detail {
        width: 60%;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;

        h1 {
            color: #ffc800;
            font-size: 40px;
        }

        h2 {
            font-size: 20px;
            color: snow;
        }

        p {
            font-size: 16px;
            color: snow;
        }
    }

    .link-tech {
        position: relative;
        margin-top: 2rem;
        height: 66px;
        bottom: 0;
        text-align: right;

        a {
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            margin: 0 0 0 auto;
        }
    }

    .unique-tech {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 960px;
        margin: 0 auto;

        .image {
            width: 40%;
            max-width: 330px;
            padding: 16px;
        }
    }
}

@media screen and (max-width: 991px) {
    #technology .head h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 599px) {
    #technology .head h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 599px) {
    #technology .tech-detail {
        width: 100%;
        min-width: 260px;
    }
}

@media screen and (max-width: 599px) {
    #technology .tech-detail h1 {
        text-align: center;
    }
}

@media screen and (max-width: 599px) {
    #technology .link-tech {
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 991px) {
    #technology .link-tech a {
        margin: 0 auto;
    }
}

@media screen and (max-width: 599px) {
    #technology .unique-tech {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 599px) {
    #technology .unique-tech .image {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 991px) {
    #technology .unique-tech img {
        -o-object-position: center top;
        object-position: center top;
    }
}

.head .unique-tech {
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .image {
        width: 330px;
        height: 330px;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .tech-detail .link-tech a .plus-sign {
        font-size: 25px;
        padding-left: 10px;
        font-weight: lighter;
    }
}

.tech-product {
    background-image: url(/assets/images/210622F_IH_0794.png);
    background-repeat: no-repeat;
    background-color: #0f0f0f;
    background-position: revert;
    background-size: 120em 55em;
    color: #fff;

    .heading {
        .product-heading {
            font-size: 3rem;
        }

        .product-info {
            font-size: 30px;
        }

        .product-detail {
            font-size: 20px;
        }
    }

    .position {
        position: relative;

        .link {
            position: absolute;
            bottom: 10px;
            right: 0px;

            .series-link {
                background-color: rgba(0, 0, 0, 0.4392156863);
                color: #ffc107;
                text-decoration: none;
                padding: 15px 0px;
                padding-left: 20px;
                font-style: italic;
                font-weight: 600;

                &:hover {
                    .right-arrow {
                        margin-left: 20px;
                    }

                    background-color: rgba(0, 0, 0, 0.3607843137);
                }

                .right-arrow {
                    margin-left: 10px;
                    margin-right: 10px;
                    -webkit-transition-duration: .5s;
                    transition-duration: .5s;
                    font-size: 17px;
                    font-weight: lighter;
                }
            }
        }

        .image {
            height: 600px;
            width: 500px;

            .img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
}

#catalog {
    .header-banner {
        background-image: url("/assets/images/head_catalogue.png");
    }

    .card {
        background: inherit;
    }
    .cat-box{
        width: 50%;
        margin: 2em auto;
    }
    .cat-hd{
        text-align: center;
    }
    .cat-box img{
        width: 50%;
        margin: 1em 25%; 
    }
}

.tab_content .catalogue {
    background-color: #000;
    color: #fff;

    .image-series {
        height: 40px;

        .img {
            height: 100%;
        }
    }

    .view-more {
        text-align: center;

        .link-more {
            background-color: #ffc703;
            color: #000;
            padding: 12px 10px;
            text-decoration: none;
            display: inline-block;
            margin-top: 30px;
            font-size: 20px;
            padding-left: 40px;
        }
    }
}

#corporate {
    .header-banner {
        background-image: url("/assets/images/head_company.png");
    }

    .row {
        margin-top: 1em;
        margin-bottom: 2.5em;
    }

    .pr-2 {
        width: 100px;
    }
}

#recruit {
    .header-banner {
        background-image: url("/assets/images/head_recruit.png");
    }
    .view-more a {
        width: 280px;
    }
}

#recruit-career {
    .header-banner {
        background-image: url("/assets/images/head_career.png");
    }

    .requirements .divider {
        opacity: 1;
    }
}

#news .page-title .image-wrapper {
    width: 100px;
    height: 75px;

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

#contact {
    .page-title .image-wrapper {
        width: 100px;
        height: 75px;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .nav-item:not(:last-of-type)::after {
        content: none;
    }

    .description-box {
        height: 200px;
        background-color: #fff;
        color: #000;
        overflow: auto;
        padding: 10px;
    }

    .nav-tabs .nav-item {
        -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
        flex-grow: inherit;
        width: 28%;
    }
}

#new-collection {
    .header-banner {
        background-image: url("/assets/images/head_new-collection.png");
    }

    .banner .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 200px;
    }

    .brands-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin: 80px auto 48px;
        padding: 0;
        list-style: none;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: calc((100% - 3px) / 4);
            height: 64px;
            padding: 2px;
            border-right: solid 1px #fff;
            line-height: 0;

            &:last-child {
                border: none;
            }
        }

        a {
            display: inline-block;
            margin: auto;
            padding: 12px 10px;
        }

        img {
            height: 40px;
            width: auto;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: center;
            object-position: center;
        }
    }
}

@media screen and (max-width: 991px) {
    #new-collection .brands-name li {
        width: calc((100% - 1px) / 2);

        &:not(:nth-of-type(2n - 1)) {
            border: none;
        }
    }
}

@media screen and (max-width: 991px) {
    #new-collection .brands-name img {
        height: 30px;
    }
}

.bg-color {
    background-color: #181818 !important;
}

.italic {
    font-style: italic;
}

.border-line {
    width: 90vw;
    max-width: 960px;
    margin: 0 auto;
    border-bottom: solid 2px rgba(255, 255, 255, 0.62);
}

.border_bottom,
.under-line {
    border-bottom: solid 2px rgba(255, 255, 255, 0.62);
    width: 70vw;
    max-width: 960px;
    margin: 0 auto;
}

.top-line {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.button-link a {
    color: #101010;
    background: #ffc800;
    width: 320px;
    max-width: 100%;
}

.link-tech {
    position: absolute;
    right: 0;
    bottom: 0;
}

.more {
    a {
        display: block;
        color: inherit;
    }

    p {
        border: 1px solid #fff;
        padding: 10px;
        letter-spacing: 4px;
        text-align: center;
    }
}

.other-lineup-col {
    background: url(/assets/images/brand_bg.png) center top (55% / auto) 40% repeat-x;

    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991px) {
    .other-lineup-col {
        background-position: center top 45%;
    }
}

@media screen and (max-width: 991px) {
    .other-lineup-col h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 599px) {
    .other-lineup-col h1 {
        font-size: 20px;
    }
}

.navbar {
    height: 80px;
    padding: 0;
    background: url("/assets/images/header_bg.png") top center repeat-x;
    background-size: 61px 42px;
}

.nav-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    height: inherit;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .nav-inner {
        width: 100vw;
    }
}

.nav-link {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;

    &:hover,
    &:focus {
        color: #d7be46 !important;
    }
}

.navbar-collapse {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: calc(100% - 180px);
    margin: 0 auto;
    font-size: 20px;
    z-index: 1001;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;

    &.show {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 90px var(--bs-navbar-toggler-padding-x) 10px 35px;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        z-index: 1000;
    }
}

.nav-item {
    position: relative;

    &:not(:last-of-type) {
        margin-right: 40px;

        &::after {
            content: "/";
            position: absolute;
            top: 50%;
            right: -20px;
            display: inline-block;
            color: #fff;
            font-weight: 500;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    &.dropdown {
        .dropdown-menu {
            padding: 0;
            border-radius: 0;
            background: rgba(47, 47, 47, 0.8);
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
        }

        &:hover .dropdown-menu {
            display: block;
        }
    }

    .dropdown-item {
        color: #fff;
    }

    .dropdown-menu li {
        padding: 4px 0;

        &:focus,
        &:hover,
        &:focus a,
        &:hover a {
            background: inherit;
        }
    }

    &.disabled {
        color: #bdbdbd;
    }
}

@media screen and (max-width: 991px) {
    .nav-item:not(:last-of-type) {
        margin: 5px 0;
        padding: 0 8px;

        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 991px) {
    .nav-item.dropdown .dropdown-menu {
        display: block;
        background: none;
        padding-left: 1rem;
        border: none;

        a::before {
            content: "/ ";
        }
    }
}

.dropdown-item.disabled {
    color: #bdbdbd;
}

.nav-item.active .nav-link {
    color: #dfbf20;
    background: initial;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: .22s ease;
    transition: .22s ease;
}

.show+.nav-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(11, 11, 11, 0.8);
    opacity: 1;
    -webkit-transition: .18s ease;
    transition: .18s ease;
    z-index: 999;
}

.navbar-toggler {
    position: fixed;
    border: none;
    top: 0;
    right: 0;
    z-index: 1002;

    &:hover,
    &:focus {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-toggler-icon {
    background: none;
    color: #fff;
    font-size: 36px;

    &::after {
        content: "menu";
        line-height: 54px;
    }
}

[aria-expanded=true] .navbar-toggler-icon::after {
    content: "close";
}

.breadcrumb-item+.breadcrumb-item {
    color: #dbdbdb;
}

.navbar-brand {
    position: absolute;
    left: 16px;
    z-index: 1000;

    .brand-img {
        height: 75px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        left: 5%;
    }
}

.up-word {
    position: fixed;
    top: 92vh;
    right: 4%;
    height: 32px;
    width: 32px;
    z-index: 10;
    background: url("/assets/images/scroll_icon.svg") (center / contain) no-repeat;

    a {
        -webkit-transition: 5s;
        transition: 5s;
        height: 32px;
        width: 32px;
        display: inline-block;
        border-radius: 3px;
        z-index: 50;
    }
}

@media screen and (max-width: 991px) {
    .catalog-design {
        width: 100%;
    }
}

.catalog-wrap .more {
    width: calc(33.3333333333% - 30px);
    margin: 0 15px 30px;
    text-align: center;

    p {
        font-size: 36px;
    }
}

@media screen and (max-width: 599px) {
    .catalog-wrap .more {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 599px) {
    .catalog-wrap .more p {
        font-size: 16px;
    }
}

.accordion-flush {
    border: 1px solid #fff;

    .accordion-item .accordion-button {
        color: #fff;
        background: #000;
    }
}

.accordion-body {
    color: #fff;
    background: #000;
}

.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-more {
    .link-more {
        display: inline-block;
        padding-left: 70px;
        padding-top: 14px;
        padding-bottom: 14px;

        .plus-sign {
            padding-left: 30px;
            font-size: 25px;
        }
    }

    .s-heat,
    .new-collection {
        padding-left: 65px;
    }

    .s-heat .plus-sign,
    .new-collection .plus-sign {
        padding-left: 25px;
        font-size: 24px;
    }

    .s_air_top {
        padding-left: 110px;
        font-size: 18px;

        .plus-sign {
            padding-left: 80px;
            font-size: 25px;
        }
    }
}

h2.hedding-icon {
    color: #ffc800;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    margin-left: -40px;
    padding-left: 44px;
    background: url("/assets/images/brand_sub_icon.svg") top left no-repeat;
}

@media screen and (max-width: 991px) {
    h2.hedding-icon {
        margin-left: 0;
    }
}

.d-flex .brand {
    margin-left: 10%;
}

.brands .bg-img {
    background: url(/assets/images/brand_bg.png) (center / auto) 40% repeat-x;
    padding: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 991px) {
    .brands .bg-img {
        background-size: auto 50%;
    }
}

@media screen and (max-width: 599px) {
    .brands .bg-img {
        background-size: auto 60%;
    }
}

.d-flex .navbar {
    margin-left: 21%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel-inner {
    background: #ccc;
}

.carousel-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-item {
    width: 100vw;
}

@media screen and (max-width: 991px) {
    .carousel-item {
        height: 60vw;
    }
}

.carousel-control-next,
.carousel-control-prev {
    width: 4%;
}

.carousel-indicators {
    margin-right: 0px;
    margin-left: 0px;
    left: 56%;
    bottom: -60px;

    [data-bs-target] {
        height: 8px;
        width: 8px;
        background-color: #fff;

        &.active {
            background-color: #ffc107;
        }
    }
}

.brands {
    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #101010;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .logo-brand {
            height: 80px;
            width: 100px;
            margin-top: 4%;
        }

        h1 {
            color: #bdbdbd;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 40px;
            text-align: center;
        }

        h4 {
            color: #bdbdbd;
            font-size: 20px;
            text-align: center;
        }

        .image {
            height: 100%;
            width: 100%;
        }
    }

    .item-carosuel {
        height: 42vh;
        width: 100vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .tech-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: #444;
        margin-right: 6px;
        margin-left: 6px;

        img {
            margin: 40px 55px;
            width: 200px !important;
            height: 150px;
            display: inline-block !important;
        }

        .inside-flex {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 10px;
        }
    }
}

@media screen and (max-width: 991px) {
    .brands .flex-container h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 991px) {
    .brands .flex-container h4 {
        font-size: 18px;
    }
}

.card {
    background-color: #000;
    border-radius: inherit;
    color: #fff;

    .flex-container {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 5%;
        width: 100%;

        img {
            width: 100%;
        }

        .flex-child {
            text-align: center;

            .sub-child {
                color: #fff;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .card .flex-container {
        padding: 0;
        margin: 5% 0 0;
    }
}

.container-fluid {
    padding-bottom: 32px;
}

.footer .link-page .right-arrow {
    margin-left: 10px;
    font-size: 20px;
}

#demos .tech-item {
    background-color: #333;
    color: #fff;
}

.brands .tech-item {
    a {
        display: block;
        padding: 10px 16px;
        text-decoration: none;

        &::after {
            position: absolute;
            content: "";
            color: #ffc801;
            bottom: 16px;
            right: 16px;
            font-family: "Material Symbols Rounded";
            font-size: 14px;
            font-style: normal;
            font-weight: 200;
            line-height: 1;
        }
    }

    h4 {
        text-align: left;
    }
}

.tech-detail {
    color: #bdbdbd;
}

.container .flex-child .about-info {
    padding-left: 15px;
}

.social-link-wrap>div {
    width: max(160px, 25%);
    font-size: 1.3rem;
}

@media screen and (max-width: 991px) {
    .social-link-wrap>div {
        font-size: 1.1rem;
    }
}

.parent-img {
    position: relative;
    max-width: 960px;
    margin: 0 auto;

    a {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.brands {
    .link {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        padding: 18px 40px 18px 24px;
        color: #ffc107;
        font-size: 16px;
        font-style: italic;
        text-decoration: none;
        background-color: rgba(15, 14, 15, 0.6);

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            right: 16px;
            font-family: "Material Symbols Rounded";
            font-size: 18px;
            font-style: normal;
            font-weight: 200;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .s-air-link .right-arrow {
            padding-left: 25px;
        }

    }

    .border-right {
        border-right: 2px solid rgba(255, 255, 255, 0.5);
    }

    .text {
        .large-size {
            font-weight: bolder;
        }

        .font-size {
            font-size: 20px;
        }
    }

    .page-link .right-arrow {
        margin-left: 45px;
        font-size: 25px;
        padding-right: 18px;
    }

    .border-line {
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }

    .image-series {
        height: 40px;
    }

    .series {
        padding-top: 100px;
    }

    .image-series img {
        height: 100%;
    }

    .col-4 .brand-image {
        height: 560px;
        width: 100%;

        .img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .col-8 {
        .heading {
            font-size: 60px;
            font-weight: 600;
        }

        .serial-name {
            font-size: 40px;
            font-weight: 600;
        }

        .serial-detail {
            font-size: 20px;
        }
    }

    .fluid-container .container .image {
        width: 100%;

        .img {
            height: 100%;
            width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .top-line {
        border-top: 2px solid rgba(255, 255, 255, 0.5);

        .view-detail {
            text-decoration: none;
            background-color: initial;
            color: #fff;
            border: 2px solid #fff;
            padding: 5px 15px;
            display: inline-block;
            border-radius: 3px;
            font-weight: 600;
            font-size: 22px;

            &:hover {
                color: initial;
                background-color: #fff;
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
            }

            .plus-sign {
                font-size: 22px;
                display: inline-block;
                font-weight: lighter;
            }
        }
    }
}

@media(max-width: 960px) {
    .brands {
        .link {
            padding: 11px 40px 11px 24px;
        }
    }
}

.text-italic {
    font-style: italic;
}

.brand-six .brand {
    position: relative;
    margin: 0px;
}

.brands .index-brand .index-link {
    text-decoration: none;
    background-color: rgba(9, 7, 7, 0.4196078431);
    color: #ffc107;
    padding: 18px 35px;
    font-size: 22px;
    padding-right: 10px;
    position: absolute;
    right: 36px;
    bottom: 222px;
}

.brand-six .stx-brand {
    bottom: 158px !important;
}

.tab_content .catalogue .view-more .link-more .plus-sign {
    padding-left: 10px;
}

.card .page-link .product {
    text-decoration: none;
    background-color: #ffc801;
    color: #000;
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 4%;
    text-align: center;

    .view-more {
        padding-left: 30px;
        font-size: 25px;
        font-weight: lighter;
    }
}

.brands {
    .mx-5 {
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        font-size: 20px;

        .heading {
            opacity: .7;
        }

        .description {
            padding-left: 60px;
        }
    }

    .space-right .description {
        padding-left: 60px;
    }

    .space-left .description {
        padding-left: 60px;
    }

    .description a {
        text-decoration: none;
        color: #FFF;
    }

    .heading-info {
        font-size: 3rem;
        opacity: .7;
    }

    .series .mx-5 {
        .bottom-line {
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 5px;
        }

        .text-center {
            border: 1px solid #fff;
            margin: 15px;
            padding: 20px;
        }
    }

    .mx-5 {
        border: none;
    }
}

.d-flex.py-4.px-5.space-right {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.d-flex.py-4.px-5.bottom-line-c {
    border-bottom: 1px solid #808080 !important;
}

.news-head .news {
    height: 75px;
    width: 100px;

    .img-news {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.tab_pane .nav-fill {
    border-bottom: 1px solid #fff;

    .nav-item {

        &:nth-child(0n+2),
        &:nth-child(0n+3) {
            margin: 0px 10px;
        }
    }
}

.nav-fill {

    .nav-item,
    >.link-nav {
        border: 1px solid #fff;
        border-top-right-radius: 10px;
        border-top-left-radius: 0px;
    }
}

.nav-tabs .link-nav {
    border-top-left-radius: 0px;
}

.tab-content .first {
    padding: 8px;
    border: 1px solid #fff;
    margin: 14px;

    .image {
        height: 270px;
        width: 300px;
        background: #fff;

        .img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.brands {
    .boundy-stretch {
        height: 300px;
        width: 90%;
        background-image: url(/assets/images/Group_107-streatch.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #111;
        margin-left: 5%;
        margin-right: 5%;
    }

    .unique-brands-name {
        height: 150px;
        width: 200px;

        .brand-img {
            height: 100%;
            width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .new-collection {
        height: 300px;
        width: 90%;
        background-image: url(/images/Group\ 107-collection.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #111;
        margin-left: 5%;
        margin-right: 5%;
    }

    .s-heat-device {
        height: 300px;
        width: 90%;
        background-image: url(/images/1Group\ 107.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #111;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sub-heading {
        font-size: 16px;
    }

    .col-6 .brand-image {
        height: 350px;
        width: 400px;

        .img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .serial-no {
        .large-size {
            font-size: 5rem;
            opacity: .8;
        }

        .s-no1 {
            display: inline-block;
            letter-spacing: 2px;
            word-break: break-all;
        }
    }

    .collection-image {
        width: 100%;
        background-color: #fff;
    }

    .devicetbl {
        width: 100%;
    }

    .devicetbl {
        tr {
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
        }

        th {
            font-weight: bold;
        }

        th,
        td {
            padding: .5em;
        }
    }

    .tblhead {
        margin-top: 2em;
        font-size: 1.1em;
        font-weight: bold;
        color: #FFF;
    }
}

.subtitle-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 72px;
    background: url("/assets/images/title_icon.svg") center no-repeat;
    font-size: 32px;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}

#s-heat-device {
    .header-banner {
        background-image: url("/assets/images/head_device_s-heat.png");
    }

}

#s-air-device {
    .header-banner {
        background-image: url("/assets/images/head_devie_s-air.png");
    }

}

.dev-py {
    padding-top: 3.5em;
}

.dv-p {
    margin-top: 1.5em;
    font-size: 1.4em;
}

.sub-heading-dv {
    font-size: 28px;
}

.img {
    width: 100%;
}

.owl-carousel.owl-loaded {
    margin-top: 24px;
}

.brands .devicetbl tr:last-child {
    border: none;
}

.accordion-flush .accordion-item .accordion-button {
    box-shadow: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}
/*  bootstrap ページネーション修正 */
.page-link{
    background-color: transparent!important;
    margin: 0 0.5em;
    color: #FFF;
}
.page-link a{
    color: #FFF!important;
}
.active>.page-link, .page-link.active{
    border: 1px solid #FFF!important;
    background-color: #FFF!important;
    color: #000;
}
.page-item:first-child .page-link , .page-item:last-child .page-link{
    border: 0;
}